.about__image-grid {
  padding: 55px 0;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr);

  & img {
    width: 100%;
  }
}

.about__back-container {
  grid-area: 1 / 2 / 5 / 11;
}

.about__front-container {
  grid-area: 4 / 1 / 8 / 10;
}
