@import "../../../index.scss";

@mixin text {
  position: absolute;
  bottom: 170px;
}

@keyframes fadeVisibilityRight {
  0% {
    transform: translateX(100%);
  }
  100% {
  }
}

@keyframes fadeVisibilityLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
  }
}

@keyframes slideToRight {
  0% {
    left: 0%;
  }
  100% {
    opacity: 1;
    left: -100%;
  }
}

@keyframes slideToLeft {
  0% {
    right: 0%;
  }
  100% {
    right: -100%;
  }
}

.carousel__item {
  position: absolute;
  width: 100%;
  opacity: 1;
}

.carousel__item--right {
  animation: slideToRight 2s;
}

.carousel__item--left {
  animation: slideToLeft 2s;
}

.active-right {
  opacity: 1;
  display: block;
  z-index: 1;
  animation: fadeVisibilityRight 2s;
}

.active-left {
  opacity: 1;
  display: block;
  z-index: 1;
  animation: fadeVisibilityLeft 2s;
}

.carousel__text {
  @include text;
}

.text--active {
  @include text;
}

.carousel__title {
  font-family: $axis;
  color: $white;
  margin: 0;
  margin-left: 22px;
  font-size: 28px;
  letter-spacing: 3px;
}
.carousel__subtitle {
  font-family: $montserrat;
  color: $brown;
  margin-top: 10px;
  margin-left: 22px;
  font-size: 22px;
  letter-spacing: 2px;
}

.carousel__image {
  img {
    height: 100%;
    width: 100%;
  }
}
