@import "../../../index.scss";

.sub-navigation {
  // position: absolute;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: $white;
  transition: 0.7s ease;
  padding: 0;
  margin: 0;
  right: 0;
  top: 48px;
  width: 100%;
  right: 100%;

  &__item{
    width: 100%;
    border-top: solid 1px $lightgrey;
    // display: flex;
    list-style: none;
    padding-left: 10px;
  }

  &__text{
    font-family: $montserrat;
    color: $black;
    text-decoration: none;
    transition: 0.7s ease;
    margin: 0;
    letter-spacing: 2px;
    padding: 18px 0;
    font-size: 12px;

    &:hover {
      color: $brown;
    } 
  }
}

// .sub-navigation.active {
//   right: 0;
// }