@import "../../../index.scss";

.sub-navigation {
  position: absolute;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  background-color: $white;
  transition: 0.7s ease;
  padding: 0;
  margin: 0;
  right: 0;
  top: 48px;
  width: 100%;
  right: 100%;
}

.sub-navigation.active {
  right: 0;
}
